<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BulkPushSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BulkPushSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tamimahsms.com/User/bulkpush.asmx"
        binding="basicHttpBinding" bindingConfiguration="BulkPushSoap"
        contract="TamimahSMS.BulkPushSoap" name="BulkPushSoap" />
    </client>
  </system.serviceModel>
</configuration>