<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PortalPath" value="https://daftari.aqua-tots.om/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="UserEntities"
      connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=AquaTotsAuth;integrated security=True;MultipleActiveResultSets=True;App=ATSauth"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AquaTotsEntities"
      connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=AquaTotsDB;integrated security=True;MultipleActiveResultSets=True;App=ATSmain"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SMSContext"
      connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=AquaTotsSMS;integrated security=True;MultipleActiveResultSets=True;App=ATSsms"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BugsContext"
      connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=AquaTotsErrorLogs;integrated security=True;MultipleActiveResultSets=True;App=ATSlogs"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Pike13ApiContext"
      connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=ATSSFrontDeskHQ;integrated security=True;MultipleActiveResultSets=True;App=ATSlogs"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />    
    <add name="ChemicalsEntities" 
         connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=ChemicalsDB;integrated security=True;MultipleActiveResultSets=True;App=ATSchem"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="FormsEntities" 
         connectionString="Data Source=aqua-svr-wapp\MSSQLSERVER01;initial catalog=FormsDB;integrated security=True;MultipleActiveResultSets=True;App=ATSform"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
</configuration>